<nav class="navbar navbar-expand navbar-dark bg-primary text-center">
        
    <a class="navbar-brand">Veterinaria</a>

    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Inicio</a>
            </li>
            <li class="nav-item active"> 
                <a class="nav-link" href="/registros">Registros</a>
            </li>
            <li class="nav-item active"> 
                <a class="nav-link" href="/turnos">Turnos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Informacion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/dueños">Dueños</a>
                    <a class="dropdown-item" href="/animales">Animales</a>
                    <a class="dropdown-item" href="/dueñoForms">Nuevo Cliente</a>
                    
                </div>
            </li>
        </ul>
    </div>
    <a href="/">
        <button type="button" class="btn btn-dark text-center">Cerrar Sesion</button>
    </a>
    
</nav>